/.vscode
/100kw.exe
/age.exe
/Baskara.exe
/calculadora de delta.exe
/calculadora de fatorial.exe
/calculadora fatorial.exe
/conversorcontinuo.exe
/copiloto na casa.exe
/elevadodenumeros.exe
/input.txt
/latinha.exe
/mediadenotas.exe
/ordenador de valores.exe
/ordenadordevalores.exe
/purezaaco.exe
/TempVol.exe
/testador de numeros.exe